<h1>Editing User</h1>

<%= form_for @user do |form| %>
 <%= label(:username, "Your username here") %>
 <%= form.text_field :username %>
 <%= form.label :email %>
 <%= form.email_field :email, :value => 'example@gmail.com' %>
 <%= form.label :password %>
 <%= form.password_field :password %>
  <%= tag(:br) %>
  <%= tag(:br) %>
 <%= form.submit  %>
<% end %>
